@keyframes background {
    from {background-color: gray;}
    to {background-color: palevioletred;}
  }

  body {
    background-color: palevioletred;
    animation-name: background;
    animation-duration: 8s;
    width: 100%;
  }

  .title {
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase; 
      color: white; 
      letter-spacing: 3px; 
      font-size: 60px; 
      font-weight: bold;
      text-align: center; 
      animation-name: openingpage; 
      animation-duration: 3s; 
  }

  @keyframes openingpage {
      0% {
          margin-bottom: 20px; 
      }

      100% {
          margin-bottom: 40px; 
      }
  } 

  #name {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: white;
      text-align: center; 
      font-size: 50px; 
  }

  #square {
    width: 150px;
    height: 150px; 
    background-color: white; 
    transition: border-radius 2s; 
    margin: auto;  
  }
  
  #square:hover {
    border-radius: 20%;
  }

 p {
     text-align: center; 
     color: lightseagreen;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 25px; 
 }

 a {
     text-decoration: none; 
 }

 #profilecontent {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center; 
    font-size: 18px;
}

#logo {
    display: block; 
    margin: 0 auto; 
    width: 10%; 
}

#next {
    width: 20%; 
    animation-name: nextarrow; 
    animation-duration: 3s; 
    animation-fill-mode: forwards;
    position: relative; 
}

@keyframes nextarrow {
  0% {
      left: 0;
  }
  100% {
      left: 80%;
  }
}

.container {
    width: 100%; 
    justify-content: center; 
    display: flex; 
    position: absolute;
}

.education, .employment {
    width: 15vw;  
    height: 25vh;
    margin: 15px; 
}

.imgwrap {
    position: relative;
  }
  
  .imgdescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(211, 211, 211, 0.9);
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }
  
  .imgwrap:hover .imgdescription {
    visibility: visible;
    opacity: 1;
  }

  #contact {
      float:right;
      animation-name: contactbounce;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      position: relative; 
  }

  @keyframes contactbounce {
    0% {
        top: 0;
    }
    50% {
        top: 50;
    }
    100% {
        top:0; 
    }
  }


  input {
      width: 80%;
      padding: 10px; 
      display: inline-block;
      margin-left: 10%;
      margin-right: 10%;
      text-align: center;
  }